*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Bakbak One";
}

html,body{
    height: 100%;
    background-image: linear-gradient(rgb(207, 113, 226), rgb(144, 40, 165));
    padding: 0 2%;
}

.container{
    width:100%;
    max-width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 10px solid;
    padding: 50px 30px;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient( #743ad5, #d6a5c6);
}

.container h5{
    font-size: 30px;
    color: white;
    padding: 10px 10px 0 10px;
    border-bottom: 3px solid white;
}

.container p{
    font-size:25px;
    color: white;
    min-height: 30px;
    padding:15px 0;
    margin-bottom: 15px;
}

#button{
    width: 100%;
    max-width: 150px;
    padding:15px 0;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    margin-top: 10px;
    cursor: pointer;
}

#button:hover{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: black;
    transition: all 0.5s ease;
}